body{
    header{
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        width: 100vw;
        height: 42px;
        align-content: flex-end;
        background-color: rgb(202, 202, 202);
        padding: 6px;
    }

    section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .contenido{
        width: 90%;
        height: 90vh;
        background-color: rgb(228, 228, 228);
        }
    }
    div.tablero{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        position: absolute;
        padding: 0;
        width: calc(100% - 75px);
        height: 100%;
        left: 75px;
        }

        div.contenedorConPadding{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            background-color: #f0f0f0;
            padding: 15px;
            width: 100%;
            }
        div.contenedorSinPadding{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding: 0;
            width: 100%;
            
            }
    div.titulo{
        border-radius: 25px;
        padding: 25px;
        width: 98vw;
        height: 12vh;
        animation: fadein 1s;
        h1{
            font-family: 'Montserrat', sans-serif;
            font-size: 3vw;
            font-weight: bold;
        }
    }

    div.contenidoCuadrado{
            width: 40vw;
            height: 31vh;
            margin: 25px;
            padding: 15px;
            background-color: white;
            border-radius: 15px;
            animation: fadein 1s;
            h2{
                font-family: 'Montserrat', sans-serif;
                font-size: 2vw;
                font-weight: bold;
            }
        }
        div.contenidoCuadradoCompleto{
            width: 80vw;
            height: 68vh;
            margin: 25px;
            padding: 15px;
            background-color: white;
            border-radius: 15px;
            animation: fadein 1s;
            h2{
                font-family: 'Montserrat', sans-serif;
                font-size: 2vw;
                font-weight: bold;
            }
        }
        div.contenidoVertical{
            width: 40vw;
            height: 68vh;
            margin: 25px;
            padding: 15px;
            background-color: white;
            border-radius: 15px;
            animation: fadein 1s;
       
        }
        h2{
            font-family: 'Montserrat', sans-serif;
            font-size: 2vw;
            font-weight: bold;
        }
        h4{
            margin: 5px;
            font-family: 'Montserrat', sans-serif;
            font-size: 1vw;
            font-weight: bold;
            }
    
    }

    div.header{
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: nowrap;
            width: 100vw;
            height: 44px;
            align-content: flex-end;
            background-color: #e2e0e0;
            padding: 6px;
        }
    
        @keyframes fadein {
            from {
                opacity:0;
            }
            to {
                opacity:1;
            }
        }
.indicadores{
    width: 100%;
    height: 100%;
}

